.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logo {
  max-width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  border-radius: 50%;

  /* margin-right: 100%; */
}

.App-header {
  /* background-color: #282c34; */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    8deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(32, 32, 32, 1) 0%,
    rgba(38, 27, 38, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.Speech {
  width: 50px;
}
.group {
  margin: 7px 0;
}
textarea {
  max-width: 100%;
  padding: 5px 10px;
  border: 1px solid rgb(228, 20, 20);
  outline: none;
  border-radius: 3px;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}
